import(methods)

exportClasses("ltsEA", "FreakReturn","GPAS")
exportMethods("show","predict")
#exportMethods("show", "print", "plot", "summary", "identify")


#export everything except for functions beginning with .
exportPattern("^[^\\.]")






